@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ddd0c8;
  --hover-primary: #c6b4aa;
  --secondary: #131313;
  --hover-white: #eff2f97b;
  --white-1: #eff2f9;
  --toast-error: #ea7b7b;
  --toast-success: #61d345;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
